<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>h3ck Ph4se Survey Form</title>
  
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
           rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="./main.js" async></script>
        <script src="./require.js" async></script>
        <script type="module" src="module.js"></script>

</head>

<body id="body">
  <div class="maincontainer">
      <div id="stencontainer" class="sideLeft">
        <img src="./stenar/sten1.png" alt="" id="sten1" class="sten sten1"></img> 
        <img src="./stenar/sten2.png" alt="" id="sten2" class="sten sten1"></img> 
        <img src="./stenar/sten3.png" alt="" id="sten3" class="sten sten1"></img> 
        <img src="./stenar/sten4.png" alt="" id="sten4" class="sten sten1"></img> 
        <img src="./stenar/sten5.png" alt="" id="sten5" class="sten sten1"></img>
      </div>
      <div class="center">
      </div>
      <div class="sideRight">
        <h1>Stentorn i naturen – ett hot mot flera arter
        </h1>
        <p>
          Att bygga stentorn i naturen är ett populärt, globalt fenomen. Enbart på Instagram finns över 100 000 bilder på uppbyggda stenformationer. Men det är olämpligt eftersom det kan hota djurs livsmiljöer.
        </p><p>
          På Gotland får tillsynsmännen lägga ned en hel del arbetstid på att riva de stentorn som folk bygger på stränderna eftersom tornen ändrar om i en miljö som det tagit naturen lång tid att skapa. I Australien har stenformationerna nu börjat bli ett problem för hotade arter, Zion National Park i USA har bett sina besökare att sluta stapla stenar i naturen och i Acadia National Park har frivilliga ställt upp och raserat över 3 000 stentorn.
        </p><p>
          Vissa arter är beroende av steniga miljöer som det tagit naturen hundratusentals år att forma. Fåglar som strandskator häckar bland stenarna och andra arter behöver dem för att kunna gömma sig. Om de störs alltför ofta kan arterna dra sig undan från livsmiljön som de egentligen är beroende av.
        </p><p>
          I USA uppmanas till exempel allmänheten att inte flytta på stenar där den hotade fiskarten ”smoky madtom” och där jättesalamandern slamdjävul lever.
        </p><p>
          I Australien har det drabbat ödlan guthega skink. Det är en starkt hotad art som lever i små isolerade populationer i stenrösen som människor nu börjat bygga torn i. Det förstör ödlans livsmiljöer och kan slå ut hela populationer, varnar ekologen Nick Clemann vid Victorian Government’s Arthur Rylah Institute.
        </p><p>
          – Människor är ute i naturen eftersom de älskar naturen. Jag tror inte att det finns några onda avsikter. Om de visste att de potentiellt orsakade ett stort problem för hotade arter, skulle de förmodligen inte göra det. Även om stenarna läggs tillbaka kan miljön vara förstörd och rovdjur som ormar kan få tag på djur som gömmer sig under stenarna. När det händer överger ödlorna ofta området, säger han till ABC.
        </p>
        <p>
          I Australien kan det ge böter på nästan 50 000 kronor att förstöra livsmiljöer för vilda djur. Även i Sverige kan byggandet av stentorn vara ett brott. Gamla odlingsrösen är till exempel skyddade enligt biotopskyddsbestämmelserna i miljöbalken.    
        </p>
      </div>
  
  </div>  
  
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">
        h3ck Ph4se Survey Form
      </h1>
    </header>

    <p id="description" class="description text-center">
      Thank you for taking time to help us improve the platform.
    </p>

    <!-- <form id="survey-form" method="POST" action="/">
      <div class="form-group">
        <label for="name" id="name-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" required />
      </div>

   -->




<!-- 
      <div class="form-group">
        <p>
          What is your favorite feature of h3ck Ph4se?
        </p>
        <select id="most-like" name="mostLike" class="form-control" required>
          <option disabled selected value>Select an option</option>
          <option value="challenges">Challenges</option>
          <option value="projects">Projects</option>
          <option value="support">Support</option>
        </select>
      </div> -->


    
<!-- 
      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form> -->
  </div>


  <script>
    document.getElementById('survey-form').reset()
  </script>
</body>

</html>